* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background: #FFF;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-top {
    padding-top: 100px;
}

.section-bottom {
    padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne", sans-serif;
    color: #2f2d53;
}

.section-title {
    color: var(--gray-900, #140A09);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0.72px;
}

.section-top-title {
    text-align: center;
}

p {
    color: #433b3a;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.btn-orange {
    color: #ffffff;
    background-color: #ff5b2e;
    border: 1px solid #ff5b2e;
}

.btn-orange:hover {
    color: #ffffff;
    background-color: #ff5b2e;
    border: 1px solid #ff5b2e;
}

.btn-light {
    color: #ff5b2e;
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-light:hover {
    color: #ff5b2e;
    border: 1px solid #fff;
}

.btn {
    border-radius: 0px;
}


/* Header Section Start */
.header-1 {
    border-bottom: 1px solid var(--gray-300, #E8E7E6);
    background: #FFF;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--primary-900, #FF5042);
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #FF5042;
}

.nav-link {
    color: var(--gray-900, #140A09);
    font-family: Syne;
    font-size: 20px;
    font-weight: 600;
}

/* Search Icon */
.openBtn {
    background: #FF5042;
    border: none;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50%;
}

.overlay {
    height: 30%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-1 {
    height: 217%;
    position: absolute;
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #FF5042;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #fff;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #FF5042;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #FF5042;
}

/* Header Section End */



/* Hero Section Start */
.hero-1 img {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 830px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.hero-content h2 {
    color: var(--gray-white, #FFF);
    text-align: center;
    font-family: Syne;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.9px;
}

/* Hero Section End */



/* Truck Trace Section Start */
.truck-trace {
    position: relative;
}

.truck-trace-area {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.truck-trace .trace-wrapper {
    background: #fff;
    border: 1px solid #fff6f6;
    box-shadow: 0px 12px 60px 0px rgba(44, 25, 23, 0.04);

}

.truck-trace .trace-wrapper::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: #f3f3f3;
    left: 50%;
    transform: translate(-50%, 0px);
}

.truck-trace .trace-wrapper .single-trace-box {
    padding: 50px 70px;
    background: #fff;
}

.single-trace-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.single-trace-box input {
    padding: 22px 66px;
    border: 1px solid var(--primary-300, #FFEEEC);
    background: var(--primary-200, #FFF6F6);
}

.single-trace-box .btn {
    padding: 21px;
    width: 28%;
    position: relative;
    right: 4px;
    top: -1px;
}

/* Truck Trace Section End */



/* Services Section Start */
.services-area {
    margin-top: 100px;
}

.single-services {
    border-top: 1px solid var(--primary-200, #FFF6F6);
    background: #FFF;
    box-shadow: 0px 12px 60px 0px rgba(44, 25, 23, 0.04);
    padding: 30px;
}

.single-services .services-img-box-1 {
    width: 72px;
    height: 72px;
    background: #FFF6F6;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}

.single-services h3 {
    margin-top: 10px;
}

/* Services Section End */



/* Trusted Section Start */

/* Trusted Section End */



/* Counter Up Section Start */
.counter-up {
    background: #140A09;

}

.counter-number {
    color: var(--gray-white, #FFF);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 1.08px;
}

.counter-category {
    color: var(--gray-white, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.single-counter {
    text-align: center;

}

/* Counter Up Section End */



/* Help Section Start */
.help-option-list {
    background: var(--primary-200, #FFF6F6);
    padding: 10px;
    display: flex;
    align-items: center;
}

.help-option-list h3 {
    margin-bottom: 0px;
    padding-left: 12px;
    color: var(--gray-700, #433B3A);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.help-section ul {
    padding-left: 0px;
}

.help-icon {
    width: 56px;
    height: 56px;
    background: #fff;
    border-width: 1px;
    border: var(--primary-300, #FFEEEC);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.help-icon img {
    width: 24px;
    height: 24px;

}

/* Help Section End */



/* Choose Section Start */
.choose-area .section-top-title {
    padding-bottom: 50px;
}

.single-choose {
    background: var(--primary-200, #FFF6F6);
    padding: 30px;
}

.single-choose-icon {
    width: 82px;
    height: 82px;
    background: #fff;
    border-width: 1px;
    border: var(--primary-300, #FFEEEC);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 12px;
}

.single-choose-icon img {
    width: 42px;
    height: 42px;
}

/* Choose Section End */



/* Team-Section Start */
.team-area .section-top-title {
    padding-bottom: 50px;
}

.team-member {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.team-details {
    text-align: center;
}

.team-img img {
    width: 270px;
}

.team-name {
    text-decoration: none;
    color: var(--gray-900, #140A09);
    font-family: Syne;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.team-designation {
    color: var(--gray-700, #433B3A);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

/* Team-Section End */

/* Client Section Start */
.client-area {
    background: var(--primary-200, #FFF6F6);
    padding-bottom: 50px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: #FF5042;
}

.client-img {
    background-color: #fff;
    border-radius: 36px;
}

.client-content h4 {
    margin-top: 70px;
}

.client-content .text {
    color: var(--gray-700, #433B3A);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.client-text {
    color: var(--gray-900, #020304);
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.client-wrapper {
    display: flex;
    justify-content: space-evenly;
}

/* Client Section End */



/* Blog Section Start */
.blog-area{
    padding-bottom: 200px;
}

.section-title-box-between {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.blog-img-box {
    position: relative;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img-box p {
    position: absolute;
    bottom: -114px;
    left: 25px;
    border-radius: 40px;
    background: #FFF;
    padding: 10px 18px;
}

.blog-cat {
    color: var(--primary-900, #FF5042);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.blog-content p {
    padding-top: 12px;
}

.blog-date {
    color: var(--gray-900, #061C3D);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.blog-title {
    display: block;
    text-decoration: none;
    color: var(--gray-900, #061C3D);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.36px;
}

.btn-text {
    text-decoration: none;
    color: var(--primary-900, #FF5042);
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

/* Blog Section End */



/* Subscribe Section Start */
.subscribe {
    position: relative;
}

.subscribe-area {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}



.subscribe-area-box .subscribe-cat {
    position: absolute;
    top: 50%;
    right: 14%;
    transform: translate(0%, -50%);
}

.subscribe-box {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(0%, -50%);
}

.subscribe-content h2 {
    color: var(--gray-white, #FFF);
    font-family: Syne;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.54px;
}

.form-control {
    width: 60%;
    border-radius: 0%;
    padding: 1.375rem 1.75rem;
}
/* Subscribe Section End */



/* Footer Section Start */
.footer-area {
    position: relative;
    padding-top: 180px;
    background: #140a09;
}

.footer-address p {
    color: var(--primary-300, #FFEEEC);
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.location-icon {
    border: var(--gray-800, #2C2322);
}

.quick-contact p {
    color: var(--gray-white, #FFF);
    margin-bottom: 0px;
}

.quick-contact h2 {
    color: var(--primary-900, #FF5042);
    font-family: Syne;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.54px;
}

.menu-category {
    color: var(--gray-white, #FFF);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.36px;
}

.footer-menu-list {
    padding-left: 0;
}

.footer-menu-list li {
    list-style: none;
    margin-bottom: 20px;
}

.footer-menu-list a {
    color: var(--primary-300, #FFEEEC);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.footer-devider {
    border-top: 1px solid #fff;
    position: relative;
    z-index: 2;
    opacity: 0.5;
    margin: 30px 0px;
}

.footer-social li {
    list-style: none;
    padding-left: 18px;

}

.footer-copyright {
    color: var(--gray-white, #FFF);
}

.footer-social li a i {
    color: #fff;

}

/* Footer Section End */



/* =========================================================================================About Us Page CSS Start========================================================================================== */



/* Header Section Start */
.header-2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Header Section End */



/* Page Banner Section Start */
.page-banner-area {
    height: 575px;
}

.page-banner-area .banner-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-bg {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
}

.banner-content p {
    color: var(--primary-900, #FF5042);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.banner-content h2 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.9px;
}

.banner-content .bottom-border {
    width: 134px;
    height: 4px;
    border-top: none;
    opacity: unset;
    background-color: #FF5042;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Page Banner Section End */


.nav-tabs {
    --bs-nav-tabs-border-width: none;
}

#goals {
    border-bottom: 4px solid #FF5042;
}

#story {
    border-bottom: 4px solid #F3F3F3;
}

.product-details-tab .nav {
    --bs-nav-link-hover-color: none;
}

.goals-collection {
    padding-left: 0px;
}

.goals-collection-list {
    display: flex;
    align-items: center;
}

.gc-icon {
    padding-right: 8px;
}

.goals-collection-list p {
    margin-bottom: 0rem;
}


/* =========================================================================================Services Page CSS Start========================================================================================== */

.services-img-box-2 {
    position: relative;
}

.single-services-icon {
    position: absolute;
    top: 174px;
    left: 24px;
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}

.services-icon {
    width: 42px;
    height: 42px;
}

.services-title {
    text-decoration: none;
    color: var(--gray-900, #140A09);
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.45px;
}



/* =========================================================================================Services-details Page CSS Start========================================================================================== */

.ocean-point-title {
    color: var(--gray-900, #140A09);
    font-family: Syne;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.54px;
}

.ocean-point-text {
    text-align: justify;
}

.ocean-freight-details {
    list-style-type: square;
    color: #FF5042;
    font-size: 26px;
}

.service-area-top {
    display: flex;
    align-items: center;
}

.slider-btn-box li {
    list-style: none;
}

.slider-single-item {
    position: relative;
}

.service-area-img {
    display: flex;
    justify-content: center;
}

.service-area-name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 62px;
    background: #FFF;
    top: 64%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.service-area-name-text {
    color: var(--gray-900, #140A09);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.36px;
    margin-bottom: 0
}

/* Request Quote Form Section Start */
.form-title-box {
    height: 114px;
    background: var(--primary-900, #FF5042);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input-wrapper {
    padding: 40px 30px;
    border: 1px solid var(--primary-300, #FFEEEC);
    background: #FFFAFA;
}

.form-title-box .form-title {
    color: var(--gray-white, #FFF);
    font-family: Syne;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.54px;
}

.form-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #FFF;
}

.form-input-wrapper .form-control {
    width: 100%;
}

.form-input-wrapper .form-select {
    border-radius: 0%;
    padding: 1.375rem 1.75rem;
}

.form-check {
    padding-right: 40px;
}

.form-input-wrapper button {
    padding: 16px 30px;
}

.form-check-input:checked {
    background-color: #FF5042;
    border-color: #FF5042;
}

/* Request Quote Form Section End */